.nav-item{
    font-size: .6rem ;
}
ul li{
    cursor: pointer;
}
.main-navlinks{
    border-top: 2px solid black;
    border-bottom: 1px solid grey;
}
.main-navlinks li{
    margin: .7rem .3rem !important;
}
.wrapper .card{
    background: url(./images/632aa7df95883hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
}
